.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 8vw 12vw 6vw;
    padding: 1vmin 0;
    color: var(--text-light);
    background-color: #FFFFFF;
    border-top: .1vmin solid #CCCCCC;
    font-size: 1.5vw;
  }
  
  .LineItem:last-child {
    border-bottom: .1vmin solid #CCCCCC;
  }
  
  .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem .ext-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem button {
    margin: 0;
  }
  
  